<div class="flex flex-row">
    <!-- menu -->
    <div class="w-4/12">
        <div class="w-full text-start text-xl font-bold border-solid border order-gray-300 sticky top-0 flex justify-center items-center h-screen">
            <div class="grid grid-cols-1 gap-4">
                <div class="mdi mdi-twitter text-5xl" style="color: var(--blue)"></div>

                <div class="flex items-center cursor-pointer hover:bg-blue-100 hover:text-blue-400 rounded-full px-2">
                    <div class="mdi mdi-home"></div>Home
                </div>
                <div class="flex items-center cursor-pointer hover:bg-blue-100 hover:text-blue-400 rounded-full px-2">
                    <div class="mdi mdi-account"></div>Profile
                </div>
                <div class="flex items-center cursor-pointer hover:bg-blue-100 hover:text-blue-400 rounded-full px-2">
                    <div class="mdi mdi-pound"></div>Explore
                </div>
                <div class="flex items-center cursor-pointer hover:bg-blue-100 hover:text-blue-400 rounded-full px-2">
                    <div class="mdi mdi-email-newsletter"></div> Messages
                </div>
                <div class="flex items-center cursor-pointer hover:bg-blue-100 hover:text-blue-400 rounded-full px-2">
                    <div class="mdi mdi-bell"></div>Notifications
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-full py-1 px-2 text-sm">Tweet</button>
                <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn w-full py-1 px-2 text-sm'%>
            </div>
        </div>
    </div>

    <div class="w-7/12 bg-white h-screen">
        <!-- create Tweet -->
        <div class="w-full p-2 font-bold text-xl border-solid border-b-1 order-gray-300 sticky top-0">
            Home
        </div>
        <div class="container mx-auto border-b-8">
            <div class="border-r-0 border-l-0 border-gray-400 border-t rounded-b p-4 flex flex-col">
                <div class="flex">
                    <img class="mr-4" style="border-radius: 100%; width: 64px; height: 55px;" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="Avatar">
                    <%= form_with(model: Tweet, local: true, :class=>"w-full") do |form|%>
                    <div class="form-group shadow-textarea in w-full">
                        <%= form.text_area :description , :class=>"bg-white focus:bg-white h-20 w-full text-xl", :placeholder=>"What's happening?" %>
                    </div>

                    <div class="flex">
                        <div class="w-full flex text-xl" style="color: var(--blue)">
                            <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                <div class="mdi mdi-star-four-points-outline"></div>
                            </div>
                            <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                <div class="mdi mdi-image"></div>
                            </div>
                            <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                <div class="mdi mdi-gif"></div>
                            </div>
                            <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                <div class="mdi mdi-chart-bar"></div>
                            </div>
                            <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                <div class="mdi mdi-emoticon-happy-outline"></div>
                            </div>
                            <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                <div class="mdi mdi-calendar-clock"></div>
                            </div>
                        </div>
                        <button form.submit "submit" class="btn-outlined py-1 px-2 text-sm">
                            Twittear
                        </button>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- Listar Tweets-->
            <% @tweets.each do |tweet| %>
                <div class="p-4 flex flex-col border-b-1">
                    <div class="flex">
                        <img class="mr-4" style="border-radius: 100%; width: 64px; height: 55px;" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="profile">
                        <div class="h-auto w-full">
                            <div class="font-bold"><%= current_user.name %></div>
                            <%= tweet.description%>
                            <div class="flex justify-around text-md" style="color: var(--blue)">
                                <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                    <div class="mdi mdi-comment"></div>
                                </div>
                                <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                    <div class="mdi mdi-twitter-retweet"></div>
                                </div>
                                <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                    <div class="mdi mdi-heart"></div>
                                </div>
                                <div class="cursor-pointer hover:bg-blue-100 rounded-full px-2">
                                    <div class="mdi mdi-share" href="#"></div>
                                </div>
                                <div class="cursor-pointer hover:bg-red-100 rounded-full px-2">
                                    <%= link_to ' ',  { :action => :destroy, :id => tweet.id }, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"mdi mdi-delete text-red-600" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
    </div>

    <!-- news -->
    <div class="bg-white items-center">
        <div class="w-full text-start text-md border-solid border order-gray-300 top-0 flex justify-center h-screen">
            <div class="px-12 py-2 grid grid-cols-1">
                <input class="rounded-full bg-gray-200 border-2 border-gray-200 w-full px-4 text-gray-700 focus:outline-none focus:bg-white focus:border-blue-500 h-12" type="text" placeholder="Search Twitter">
                <div class="bg-gray-200 border-b-2 border-gray-400 rounded-lg py-2">

                    <div class="text-left border-b-2 border-gray-400 ">
                        <p class="ml-4 font-bold text-lg">What's happening</p>
                    </div>

                    <div class="border-b-2 border-gray-400 text-sm">
                        <div class="flex items-center px-2">
                            <div class="w-4/6 p-2 text-left  ">
                                <p class="text-base text-gray-600">Abraham Lugo Ramirez</p>
                                <p class="text-black font-black"> System engineer students of Universidad del norte</p>
                                <p class="text-black font-black"> Back-end and Front-end developer</p>
                            </div>
                            <div class="w-2/6 p-2 text-center flex justify-center">
                                <img class="w-16 h-16 object-cover" style="border-radius: 16px" src="https://i.ibb.co/8YfcBSd/fotos.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="border-b-2 border-gray-400 text-sm">
                        <div class="flex items-center px-2">
                            <div class="w-4/6 p-2 text-left  ">
                                <p class="text-base text-gray-600">Nino Mercado Consuegra</p>
                                <p class="text-black font-black">System engineer students of Universidad del norte</p>
                                <p class="text-black font-black">Back-end and Front-end developer</p>
                            </div>
                            <div class="w-2/6 p-2 text-center flex justify-center">
                                <img class="w-16 h-16 object-cover" style="border-radius: 16px" src="https://i.ibb.co/pnP84WX/me.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-200 rounded-lg mt-4 overflow-hidden shadow-lg h-auto">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl">Twitter app</div>
                        <div class="text-gray-700 text-base">
                            This is a Twitter app developed in Ruby on rails
                        </div>
                    </div>
                    <div class="px-6 pt-4">
                        <span class="inline-block bg-gray-200 rounded-full px-3 text-sm font-semibold text-gray-700 mr-2">#Twitter</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 text-sm font-semibold text-gray-700 mr-2">#Ruby</span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 text-sm font-semibold text-gray-700 mr-2">#Rails</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>