<div class="flex flex-col justify-center items-center h-screen">
  <div class="mdi mdi-twitter text-4xl" style="color: var(--blue)"></div>
  <div class="text-3xl font-extrabold">Change your password</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field mt-4">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input', placeholder: 'Password' %>
  </div>

  <div class="field mt-4">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input', placeholder: 'Confirm password' %>
  </div>

  <div class="actions text-center mt-5">
    <%= f.submit "Change my password", class: 'btn w-full' %>
  </div>
<% end %>

<div class="mt-6 text-center font-bold text-lg">
  <%= render "devise/shared/links" %>
</div>
</div>